@charset "utf-8";
*{margin:0;padding:0;}
ul,li{list-style:none;}
a{text-decoration:none;}
body{font-family:"微软雅黑",arial;font-size:14px;color:rgb(240, 6, 6);}
.banner{width:950px;margin:auto;}
.banner img{width:950px;height:255px;display:block;}
.nav{width:950px;height:40px;margin:auto;background:url(../images/navbg.gif);}
.nav ul{float:left;}
.nav li{float:left;margin-left:20px;}
.nav li a{display:inline-block;height:40px;line-height:40px;padding:0 18px;color:#016941;font-weight:bold;}
.nav li a:hover{background:url(../images/navbghover.gif);}
.nav .search{float:left;}
.nav .search p{float:left;margin-left:215px;line-height:40px;color:#016941;font-weight:bold;}
.nav .search .input1{width:152px;height:18px;border:1px solid #016941;margin-top:10px;margin-left:5px;}
.nav .search .input2{width:36px;height:20px;border:none;background:#016941;color:#fff;margin-top:10px;}
.main{width:948px;margin:auto;overflow:hidden;border-left:1px solid #fceaa9;border-right:1px solid #fceaa9;}
.guanyu{width:310px;float:left;margin-left:25px;margin-top:10px;}
.guanyu .title{height:30px;line-height:30px;border-bottom:1px solid #990000;font-weight:bold;}
.guanyu .renwu img{display:block;margin:auto;width:190px;height:240px;margin-top:10px;}
.guanyu .mingzi{text-align:center;margin-top:20px}
.guanyu .mingzi img{vertical-align:middle;}
.guanyu .dizhi{text-align:center;margin-top:10px;}
.guanyu .jieshao{width:280px;margin:auto;color:#990000;line-height:2;margin-top:15px;}
.main-right{width:562px;float:left;margin-left:36px;margin-top:10px;}
.rizhi{width:560px;border:1px solid #cccc99;overflow:hidden;padding-bottom:20px;}
.rizhi .title{height:32px;line-height:32px;background:#cccc99;font-weight:bold;padding-left:10px;}
.rizhi ul{width:540px;margin:auto;}
.rizhi li{height:26px;line-height:26px;margin:auto;border-bottom:1px dashed #666;font-size:12px;
	background:url(../images/ico4.gif) no-repeat left center;}
.rizhi li p{width:406px;float:left;margin-left:20px;}
.rizhi li a{color:#666;}
.rizhi li a:hover{color:#000;}
.rizhi li span{color:#666;}
.xiangce{width:560px;border:1px solid #cccc99;overflow:hidden;padding-bottom:20px;margin-top:10px;}
.xiangce .title{height:32px;line-height:32px;background:#cccc99;font-weight:bold;padding-left:10px;}
.xiangce img{width:176px;height:190px;float:left;margin:5px;}
.footer{width:950px;height:54px;background:url(../images/footer.gif);margin:auto;overflow:hidden;}
.footer p{text-align:center;margin-top:34px;font-size:12px;}
.wenzhang .weizhi{height:20px;line-height:20px;text-align:right;background:#ffffdb;font-size:12px;padding-right:10px;}
.wenzhang .weizhi a{color:#000;}
.wenzhang .weizhi a:hover{text-decoration:underline;}
.wenzhang .text{padding:0 30px;}
.wenzhang .text h3{line-height:40px;text-align:center;margin-top:10px;}
.wenzhang .text p{font-size:12px;text-indent:24px;line-height:2;margin-bottom:10px;}
